<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
			crossorigin="anonymous"
		></script>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
			crossorigin="anonymous"
		/>
	</head>
	<body class="bg-info ">
		<form
			action="{{url_for('userInput')}}"
			method="POST"
			class="card w-50 p-4"
			style="
				position: absolute;
				top: 50vh;
				left: 50vw;
				transform: translate(-50%, -50%);
			"
		>
			<div class="input-group mb-3">
				<label class="input-group-text" for="inputGroupSelect01"
					>Enter your gender</label
				>
				<select class="form-select" id="inputGroupSelect01" name="gender">
					<option value="1">Male</option>
					<option value="0">Female</option>
				</select>
			</div>
			<div class="input-group mb-3">
				<span class="input-group-text">10th Marks in Percentage</span>
				<input
					type="number"
					class="form-control"
					aria-label="10th marks"
					name="10thMarks"
					min="0"
					max="100"
					required
				/>
			</div>
			<div class="input-group mb-3">
				<label class="input-group-text" for="inputGroupSelect01"
					>10th passing board
				</label>
				<select class="form-select" id="inputGroupSelect01" name="10thBoard">
					<option value="1">Central</option>
					<option value="0">Others</option>
				</select>
			</div>
			<div class="input-group mb-3">
				<span class="input-group-text">12th Marks in Percentage</span>
				<input
					type="number"
					class="form-control"
					aria-label="10thmarks"
					name="12thMarks"
					required
				/>
			</div>
			<div class="input-group mb-3">
				<label class="input-group-text" for="inputGroupSelect01"
					>12th passing board
				</label>
				<select class="form-select" id="inputGroupSelect01" name="12thBoard">
					<option value="Central">Central</option>
					<option value="Others">Others</option>
				</select>
			</div>
			<div class="input-group mb-3">
				<label class="input-group-text" for="inputGroupSelect01"
					>12th Subject
				</label>
				<select class="form-select" id="inputGroupSelect01" name="12thSubject">
					<option value="Arts">Arts</option>
					<option value="Commerce">Commerce</option>
					<option value="Science">Science</option>
				</select>
			</div>
			<div class="input-group mb-3">
				<span class="input-group-text">Degree Marks in Percentage</span>
				<input
					type="number"
					class="form-control"
					aria-label="10thmarks"
					name="degreeMarks"
					required
				/>
			</div>
			<div class="input-group mb-3">
				<label class="input-group-text" for="inputGroupSelect01"
					>Type of degree
				</label>
				<select class="form-select" id="inputGroupSelect01" name="degreeType">
					<option value="Sci&Tech">Science and Technology</option>
					<option value="Comm&Mgmt">Commerce and management</option>
					<option value="Others">Others</option>
				</select>
			</div>

			<div class="input-group mb-3">
				<label class="input-group-text" for="inputGroupSelect01"
					>Work Experience
				</label>
				<select class="form-select" id="inputGroupSelect01" name="workExp">
					<option value="1">Yes</option>
					<option value="0">No</option>
				</select>
			</div>
			<div class="input-group mb-3">
				<label class="input-group-text" for="inputGroupSelect01"
					>Enter specialisation
				</label>
				<select
					class="form-select"
					id="inputGroupSelect01"
					name="specialisation"
				>
					<option value="1">Marketing and HR</option>
					<option value="0">Marketing and Finance</option>
				</select>
			</div>
			<button type="submit" class="btn btn-info w-100">Submit</button>
		</form>
		<div class="bottom-0 position-absolute w-100 bg-dark text-white text-center py-2">
			Made with
			<span style="font-size: 150%;" class="text-info">♥</span>
			by Arya Nair
		</div>
	</body>
</html>
